.interactionControlsButtonContainer{
  position: absolute;
  left: calc($pt-grid-size / 1);
  //right: 0;
  top: calc($pt-grid-size / 1);
  //transform: translateX(-50%);
  height: auto;
  display: flex;
  width: max-content;
  background-color: var(--light-gray4);
  transition: var(--background-color-transition);
  border-radius: calc(2 * var(--pt-border-radius));
  padding: 2px;

  .bp5-dark & {
    background-color: var(--dark-gray1);
  }

  .bp5-button{
    border-radius: calc(2 * var(--pt-border-radius));
    transition: background-color 0.25s ease-in-out;
  }
}
//
//.bpButtonIconScale-[x] {
//  .bp5-icon {
//    transform: scale([x]);
//  }
//}
