.editorModesContainer{
  position: absolute;
  right: 0;
  top: 0;
  height: max-content;
  display: flex;
  width: auto;
  background-color: var(--light-gray4);
  transition: var(--background-color-transition);
  border-radius: 0 0 0 var(--pt-border-radius);

  .bp5-dark & {
    background-color: var(--dark-gray1);
  }
}
