@import 'uiconfig-blueprint/src/renderer';
@import "./components/WelcomeScreen";
@import "components/EditorModesButtonGroup";
@import "components/InteractionControlsButtonGroup";

body{
  overflow: hidden;
}

#blueprintEditorContainer2{ // dummy
  display: none;
}

.editorSplitContainer {
  display: flex;
  height: calc(100% - var(--pt-navbar-height));

  .gutter {
    background: var(--light-gray4);
    transition: var(--background-color-transition);
    flex-shrink: 0;
  }

  .gutter:hover {
    background: var(--light-gray1);
  }

  .gutter-horizontal {
    cursor: ew-resize;
  }

  .gutter-vertical {
    cursor: ns-resize;
  }

  .bp5-card{
    transition: var(--background-color-transition);
    background: var(--light-gray4);
  }

  .bp5-dark & {
    .gutter {
      background: var(--dark-gray1);
    }
    .gutter:hover {
      background: var(--dark-gray4);
    }
    .bp5-card{
      background: var(--dark-gray1);
    }
  }
}

.bp5-navbar {
  border: none;
  box-shadow: none !important;
  background: var(--light-gray4);
  transition: var(--background-color-transition);

  .bp5-dark & {
    background: var(--dark-gray1);
  }
}

.editorCanvasContainer{
  width: 100%;
  height: 100%;

  .bp5-dark & {
  }
}

.hierarchy-stack .folderContent{
  flex: 1 1 auto;
  max-width: 100%;
  height: 100%;
  margin-left: 0 !important;
}

//.bp5-tree-drop-spacer {
//  div{
//    background: red;
//  }
//}

.editor-left-tabs{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 0px;

  .bp5-tab-panel {
    margin: 0;
    height: 100%;
    overflow: auto;
  }

  .bp5-tab-list{
    padding-left: 10px;
    margin-bottom: 0;
  }
}


// todo move

//.bp5-vars, :root {
//  --slider-progress-color: hsla(var(--gray1-hsl), 0.2);
//}
//
//.bp5-dark {
//  --slider-progress-color: hsla(var(--white-hsl),0.5) !important;
//}


#stats-js{
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: unset !important;
    top: unset !important;
}

.editor-left-tabs{
  .bp5-tab-list{
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
  }
  .bp5-tab-list::-webkit-scrollbar {
    display: none;  /* Older Safari and Chromium */
  }
}


// three viewer built in dialog, !important because this is added first.
.dialog-container{
  background-color: var(--pt-app-background-color) !important;
  border: 1px solid var(--pt-divider-black) !important;
  color: var(--pt-text-color) !important;
}

.dialog-message {
  color: var(--pt-text-color-muted) !important;
}
.dialog-button {
  background-color: var(--button-background-color) !important;
  box-shadow: var(--button-box-shadow) !important;
  color: var(--pt-text-color) !important;
}
.dialog-button:hover {
  background-color: var(--button-background-color-hover) !important;
}
.dialog-ok {
  background-color: var(--pt-intent-primary) !important;
  color: var(--white) !important;
}
.dialog-ok:hover {
  background-color: var(--pt-intent-primary-hover) !important;
}
.dialog-ok:active {
  background-color: var(--pt-intent-primary-active) !important;
}
.dialog-title {
  color: var(--pt-text-color) !important;
}
