@import 'uiconfig-blueprint/src/renderer';
@import "./components/WelcomeScreen";
@import "components/EditorModesButtonGroup";
@import "components/InteractionControlsButtonGroup";

body{
  overflow: hidden;
}

#blueprintEditorContainer2{ // dummy
  display: none;
}

.editorSplitContainer {
  display: flex;
  height: calc(100% - var(--pt-navbar-height));

  .gutter {
    background: var(--light-gray4);
    transition: var(--background-color-transition);
    flex-shrink: 0;
  }

  .gutter:hover {
    background: var(--light-gray1);
  }

  .gutter-horizontal {
    cursor: ew-resize;
  }

  .gutter-vertical {
    cursor: ns-resize;
  }

  .bp5-card{
    transition: var(--background-color-transition);
    background: var(--light-gray4);
  }

  .bp5-dark & {
    .gutter {
      background: var(--dark-gray1);
    }
    .gutter:hover {
      background: var(--dark-gray4);
    }
    .bp5-card{
      background: var(--dark-gray1);
    }
  }
}

.bp5-navbar {
  border: none;
  box-shadow: none !important;
  background: var(--light-gray4);
  transition: var(--background-color-transition);

  .bp5-dark & {
    background: var(--dark-gray1);
  }
}

.editorCanvasContainer{
  width: 100%;
  height: 100%;

  .bp5-dark & {
  }
}

.hierarchy-stack .folderContent{
  flex: 1 1 auto;
  max-width: 100%;
  height: 100%;
  margin-left: 0 !important;
}

//.bp5-tree-drop-spacer {
//  div{
//    background: red;
//  }
//}

.editor-left-tabs{
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding-bottom: 0px;

  .bp5-tab-panel {
    margin: 0;
    height: 100%;
    overflow: auto;
  }

  .bp5-tab-list{
    padding-left: 10px;
    margin-bottom: 0;
  }
}


// todo move

//.bp5-vars, :root {
//  --slider-progress-color: hsla(var(--gray1-hsl), 0.2);
//}
//
//.bp5-dark {
//  --slider-progress-color: hsla(var(--white-hsl),0.5) !important;
//}


#stats-js{
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
    right: unset !important;
    top: unset !important;
}

.editor-left-tabs{
  .bp5-tab-list{
    overflow-x: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox, Safari 18.2+, Chromium 121+ */
  }
  .bp5-tab-list::-webkit-scrollbar {
    display: none;  /* Older Safari and Chromium */
  }
}


// three viewer built in dialog, !important because this is added first.
.dialog-container{
  background-color: var(--pt-app-background-color) !important;
  border: 1px solid var(--pt-divider-black) !important;
  color: var(--pt-text-color) !important;
}

.dialog-message {
  color: var(--pt-text-color-muted) !important;
}
.dialog-button {
  background-color: var(--button-background-color) !important;
  box-shadow: var(--button-box-shadow) !important;
  color: var(--pt-text-color) !important;
}
.dialog-button:hover {
  background-color: var(--button-background-color-hover) !important;
}
.dialog-ok {
  background-color: var(--pt-intent-primary) !important;
  color: var(--white) !important;
}
.dialog-ok:hover {
  background-color: var(--pt-intent-primary-hover) !important;
}
.dialog-ok:active {
  background-color: var(--pt-intent-primary-active) !important;
}
.dialog-title {
  color: var(--pt-text-color) !important;
}

// todo move somewhere, remove after update this is from bp update
.bp5-breadcrumbs>li:after {
  background: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20viewBox=%270%200%2016%2016%27%3E%3Cpath%20fill=%27%235f6b7c%27%20fill-rule=%27evenodd%27%20d=%27m10.71%207.29-4-4a1.003%201.003%200%200%200-1.42%201.42L8.59%208%205.3%2011.29c-.19.18-.3.43-.3.71a1.003%201.003%200%200%200%201.71.71l4-4c.18-.18.29-.43.29-.71s-.11-.53-.29-.71%27%20clip-rule=%27evenodd%27/%3E%3C/svg%3E);
  content: "";
  display: block;
  height: 16px;
  margin: 0 5px;
  width: 16px;
}

// todo not sure why its required again, its also in blueprint...
.bp5-dark .bp5-divider{
  border-color:rgba(255, 255, 255, 0.2);
}

// todo move somewhere
.file-item-button{
  display: flex;
  flex-direction: column;
  text-align: center !important;
  border-radius: calc($pt-border-radius * 2) !important;
  justify-content: space-between !important;
  gap: $pt-grid-size;
  padding: $pt-grid-size;
  width: calc(10 * $pt-grid-size);

  > *{
    margin-right: 0;
  }

  img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: calc($pt-border-radius * 2) !important;
  }

  .bp5-button-text{
    flex-grow: 0 !important;
    text-overflow: ellipsis !important;
    overflow: hidden;
    max-width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }

}
